.gallery {
  .p-galleria.p-component.p-galleria-thumbnails-bottom {
    .p-galleria-content {
      background: black;
      padding: 1rem 0.5rem;
      .p-galleria-thumbnail-wrapper {
        .p-galleria-thumbnail-container {
          background: black;
          padding: 1rem 0.5rem;
          .p-galleria-thumbnail-prev.p-link,
          .p-galleria-thumbnail-next.p-link {
            margin: 0.5rem;
            background-color: transparent;
            color: #f8f9fa;
            width: 2rem;
            height: 2rem;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    .p-galleria.p-component.p-galleria-thumbnails-bottom {
      .p-galleria-content {
        .p-galleria-item-wrapper {
          .p-galleria-item-container {
            .p-galleria-item {
              img {
                max-width: 250px !important;
                max-height: 200px !important;
              }
            }
          }
        }
      }
    }
  }
}
