.home {
  display: flex;
  .p-galleria {
    .p-galleria-content {
      .p-galleria-item {
        box-shadow: 1px 1px 5px;
      }
      .p-galleria-item-wrapper {
        .p-galleria-indicators.p-reset {
          padding: 0.5rem;
          .p-galleria-indicator.p-highlight {
            margin-right: 0.5rem;
            button {
              background-color: #6366f1;
              width: 0.5rem;
              height: 0.5rem;
              transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
              border-radius: 50%;
            }
          }
          .p-galleria-indicator {
            margin-right: 0.5rem;
            button {
              background-color: #ced4da;
              width: 0.5rem;
              height: 0.5rem;
              transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
