@import "./colors.scss";

.nav-header {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 18%);
  backdrop-filter: blur(0px);
  height: 40px;
  ul {
    display: flex;
    list-style: none;
    margin: 0px;
    align-items: center;
    height: 100%;
    padding-left: 0px;
    li {
      padding: 0px 12px;
      a {
        text-decoration: none;
        i{
          margin-right: 4px;
        }
      }
    }
  }
}
